.AccountDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #181E29;
    border-radius: 1.5rem;
    border: none;
    color: #C9CED6;
}

.AccountDetailsMessage {
    font-size: 0.7rem;
}

.AccountDetailsName {
    font-size: 1rem;
    margin: 0rem;
}