body {
    margin: 0;  
    padding: 0;
    background-color: #0B101B;
    background-image: url('../../public/Swirl.png'), url('../../public/Cubes.png');
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #0B101B;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: white;
}