.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3.75rem;
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(to right, #144EE3, #EB568E, #D15598, #A353AA, #144EE3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #C9CED6;
}

.bold {
  font-size: 1.2rem;
  font-weight: 600;
  color: #EB568E;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    max-height: 100%;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 0.875rem;
  }
  .content {
    height:45rem;
    width: 100%;
  }

}


