.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}


