.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.buttonBase {
    border-radius: 0.5rem;
    border: none;
    color: #C9CED6;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.buttonBase:hover {
    box-shadow: 0px 0px 10px 0px currentColor;
}

.copyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #144EE3;
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    box-shadow: 0px 0px 10px rgba(20, 78, 227, 0.5);
}

.editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.2rem;
    opacity: 0.7;
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
}

.active {
    background-color: #e5c348;
    box-shadow: 0px 0px 10px rgba(185, 159, 67, 0.5);
}

.inactive {
    background-color: #1EB036;
    box-shadow: 0px 0px 10px rgba(30, 176, 54, 0.5);
}


.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #b01e1e;
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
    box-shadow: 0px 0px 10px rgba(176, 30, 30, 0.5);
}

@media screen and (max-width: 768px) {
    
    .buttonContainer {
        padding-right: 1rem;
        gap: 1rem;
    }
}