.tableContainer {
    width: 1104px;
    height: 525px;
}
  
@media screen and (max-width: 768px) {
    
    .tableContainer {
        overflow-x: auto;
        width: 100%;
        height: 100%;
    }
}